<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"/></h1>
        </div>
    </header>
    <h2>Character Sheet</h2>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            Test !
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>
            {{!-- Attributes Tab --}}
            <div class="tab attributes" data-group="primary" data-tab="attributes">
                <ol  class="attributes-list">
    
                    {{#each actor.data.attributes as |attrib key|}}
                    <h2>Attribute : {{ attrib }}</h2>
                    <li  class="attribute flexrow"  data-attribute="{{key}}">
                    
                    <span  class="attribute-label flexrow"  name="data.attributes.{{key}}.label">{{label}}</span>
                    
                    <div  class="attribute-editbox flexrow">
                    
                    <input  class="attribute-value"  type="text"  name="data.attributes.{{key}}.value"  value="{{attrib.value}}"  data-dtype="Number"  />
                    
                    </div>  
                    </li>
                    
                    {{/each}}
                    
                    </ol>            
            </div>
    
            {{!-- Skills Tab --}}
            <div class="tab skills" data-group="primary" data-tab="skills">
                <ol  class="attributes-list">
    
                    {{#each actor.data.skills as |skill key|}}
                    
                    <li  class="skills flexrow"  data-skill="{{key}}">
                    
                    <span  class="skill-label flexrow"  name="data.skills.{{key}}.label">{{label}}</span>
                    
                    <div  class="attribute-editbox flexrow">
                    
                    <input  class="attribute-value"  type="text"  name="data.skills.{{key}}.value"  value="{{skill.value}}"  data-dtype="Number"  />
                    
                    </div>  
                    </li>
                    
                    {{/each}}
                    
                    </ol>            
            </div>
    
        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
            {{#each actor.data.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
    </section>
</form>
